<div class="row">
    <div class="col-12 d-flex flex-column align-items-center">
        <div class="my-4">
            <img class="img-fluid img-user" [src]="user?.imagePath | apiImageBase64">
        </div>

        <h6 class="user-name">{{ user?.name }} {{ user?.lastName }}</h6>
        <h6 class="user-identification">{{ user?.identification }}</h6>
        <h6 class="user-age">{{ getUserYears(user?.birthDate) }} años</h6>
        <h6 class="user-phone" *ngIf="isCreatorUser">{{ user?.phone }}</h6>
    </div>

    <div class="col-12 ">

    </div>

</div>
