* {
    font-family: 'Roboto', sans-serif;
}

.img-user {
    width: 200px;
    height: 200px;
    border: 1px solid #cccccc;
    border-radius: 50%;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
}

.user-identification,
.user-phone,
.user-age,
.user-gender,
.user-height {
    font-size: 16px;
}
