<div class="modal-header">
    <h4 class="modal-title" ngbAutofocus>Permitir Ubicación</h4>
</div>
<div class="modal-body">
    <p class="text-center">¡Necesitamos saber tu ubicación!</p>
    <div class="d-flex justify-content-center">
        <img class="img-fluid gps-icon" src="assets/icons/gps_mobile.png" />
    </div>
    <p class="text-center mt-4">
        Es necesario que en el navegador aceptes y nos permitas saber tu
        ubicación para tener información de la persona afectada
    </p>
</div>
