.loader-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid rgb(9, 25, 255);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin .75s linear infinite;
}

.loader-message {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: center;
    width: 100px;
    color: white;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
