<div class="container mt-4">
    <button type="button" class="btn btn-main d-flex" [routerLink]="['..']">
        <div class="btn-icon-circle-left">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        Regresar
    </button>

    <h1 class="alert-title">Crear Alerta</h1>

    <div class="map-container" [style.opacity]="isPageLoading ? '.5' : '1'">
        <div class="map-frame">
            <app-loader
                *ngIf="isMapLoading"
                [message]="'Cargando Mapa'"
            ></app-loader>
            <div id="map">
                <button class="map-home-btn" (click)="onClickMapHome()">
                    <i class="fa-solid fa-house-chimney"></i>
                </button>
            </div>
        </div>
    </div>

    <form [formGroup]="form">
        <div class="row">
            <div class="col-12 col-sm-6 offset-sm-3">
                <div class="form-group mt-3">
                    <label>Destino:</label>
                    <input
                        formControlName="destination"
                        id="typeahead-http"
                        type="text"
                        placeholder="Ej: Hospital Pérez de León"
                        class="form-control form-control-sm"
                        [class.is-invalid]="searchFailedTextField"
                        [ngbTypeahead]="search"
                        [resultFormatter]="formatter"
                        [inputFormatter]="formatter"
                        (selectItem)="onSelectDestination($event)"
                        [class.is-invalid]="
                            isFormSubmitted &&
                            !isDestinationSelected
                        "
                        [class.is-valid]="
                            isDestinationSelected
                        "
                    />
                    <small
                        *ngIf="searchingTextField"
                        class="form-text text-muted"
                        >Buscando...</small
                    >
                    <div class="invalid-feedback" *ngIf="searchFailedTextField">
                        No se encontraron datos
                    </div>
                    <span
                        *ngIf="
                            isFormSubmitted &&
                            !isDestinationSelected
                        "
                        class="invalid-feedback"
                        >* Debe seleccionar un destino válido y que aparezca en el mapa</span
                    >
                </div>
            </div>
            <div class="col-12 col-sm-6 offset-sm-3">
                <div class="form-group mt-3">
                    <label>Cédula del afectado:</label>
                    <div class="row">
                        <div class="col-2">
                            <select
                                formControlName="identificationType"
                                class="form-control form-control-sm"
                                [class.is-invalid]="
                                    form.controls['identificationType']
                                        .invalid && isFormSubmitted
                                "
                                [class.is-valid]="
                                    form.controls['identificationType'].valid
                                "
                            >
                                <option value="">-</option>
                                <option value="V">V</option>
                                <option value="J">J</option>
                                <option value="E">E</option>
                                <option value="P">P</option>
                                <option value="G">G</option>
                            </select>
                        </div>
                        <div class="col-10">
                            <input
                                formControlName="identification"
                                type="text"
                                maxlength="9"
                                class="form-control form-control-sm"
                                (keydown)="onlyNumber($event)"
                                [class.is-invalid]="
                                    form.controls['identification'].invalid &&
                                    isFormSubmitted
                                "
                                [class.is-valid]="
                                    form.controls['identification'].valid
                                "
                            />
                            <span
                                *ngIf="
                                    form.controls['identification'].invalid &&
                                    isFormSubmitted
                                "
                                class="invalid-feedback"
                                >* La cédula es requrida</span
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-5">
                <button
                    type="button"
                    class="btn btn-main"
                    (click)="onSubmitForm()"
                >
                    CREAR ALERTA
                </button>
            </div>
        </div>
    </form>
</div>

<br />
<br />
<br />
<br />
