* {
    font-family: 'Roboto', sans-serif;
}

.camera-video {
    -webkit-mask-image: url("../../../../../../../assets/images/circle.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 270px;
}

.camera-off-box {
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.camera-off-box:hover {
    cursor: pointer;
}

.camera-logo {
    height: 50px;
}
