* {
    font-family: 'Roboto', sans-serif;
}

.img-user {
    width: 200px;
    height: 200px;
    border: 1px solid #cccccc;
    border-radius: 50%;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.user-identification {
    font-size: 16px;
    text-align: center;
}

.not-found-icon {
    height: 100px;
}
