* {
    font-family: 'Roboto', sans-serif;
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
}

.main-image-box {
    background-image: linear-gradient(to bottom, rgb(9, 25, 255), rgb(97, 144, 255));
    height: 100vh;
    position: fixed;
}

.main-form-box {
    height: 100vh;
}

.fit-box-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image {
    max-height: 400px;
}

.image-text {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.form-steps-form {
    padding: 20px 40px;
}

.already-account {
    font-size: 16px;
}

.register-title {
    font-size: 36px;
}

.register-description {
    font-size: 16px;
    color: gray;
}
