<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 d-none d-md-block main-image-box">
            <div class="h-100 d-flex flex-column justify-content-between">
                <div class="d-flex align-items-center mt-5">
                    <img src="assets/icons/logo.png" width="30" height="30" />
                    <span class="logo-text">GPS Medical Assistance</span>
                </div>
                <div class="fit-box-image">
                    <h1 class="image-text">¡Únete a la red y mantén informado a tus familiares en caso de algún accidente!</h1>
                    <img class="img-fluid main-image" src="assets/images/doctor_male.png">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-7 main-form-box">
            <div [ngSwitch]="formStep" class="form-steps-form">
                <div class="d-flex justify-content-end">
                    <span class="already-account">¿Ya posees cuenta? <a [routerLink]="['', 'login']">Ingresar</a></span>
                </div>
                <div class="mt-5">
                    <h1 class="register-title mb-4">Registrarse</h1>
                    <span class="register-description">Crea una cuenta para empezar a usar GPS Medical Assistance</span>
                    <hr>
                </div>
                <app-register-face-image *ngSwitchCase="0" (changeStepClick)="changeStepManager($event)"></app-register-face-image>
                <app-register-personal-info *ngSwitchCase="1" (changeStepClick)="changeStepManager($event)"></app-register-personal-info>
                <app-register-family *ngSwitchCase="2" (changeStepClick)="changeStepManager($event)"></app-register-family>
                <app-register-favorite-places *ngSwitchCase="3" (changeStepClick)="changeStepManager($event)"></app-register-favorite-places>
                <app-register-success *ngSwitchCase="4"></app-register-success>
            </div>
        </div>
    </div>
</div>

