<div class="mt-5 box-features">
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="single-feature-box">
                <div class="image-feature-box">
                    <img class="img-fluid feature-img" src="assets/icons/map.png">
                </div>
                <div class="ms-4">
                    <h6 class="feature-title">Ubicación GPS</h6>
                    <span class="feature-description">Rastreo de la localización real del paciente.</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="single-feature-box">
                <div class="image-feature-box">
                    <img class="img-fluid feature-img" src="assets/icons/data.png">
                </div>
                <div class="ms-4">
                    <h6 class="feature-title">Información completa</h6>
                    <span class="feature-description">Toda la información detallada en un solo lugar.</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="single-feature-box">
                <div class="image-feature-box">
                    <img class="img-fluid feature-img" src="assets/icons/alert.png">
                </div>
                <div class="ms-4">
                    <h6 class="feature-title">Alertas</h6>
                    <span class="feature-description">Notifica a tus familiares de que ocurrió un accidente.</span>
                </div>
            </div>
        </div>
    </div>
</div>
