.box-features {
    background-image: linear-gradient(to right, rgb(9, 25, 255), rgb(97, 144, 255));
    border-radius: 30px;
    padding: 0px 40px 20px 40px;
}

.single-feature-box {
    display: flex;
    align-items: center;
}

.image-feature-box {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.feature-img {
    max-width: 80px;
}

.feature-title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.feature-description {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
}