* {
    font-family: 'Roboto', sans-serif;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.table-button {
    vertical-align: middle;
}

.place-name {
    font-size: 14px;
}