<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 d-none d-md-block main-image-box">
            <div class="h-100 d-flex flex-column justify-content-between">
                <div class="d-flex align-items-center mt-5">
                    <img src="assets/icons/logo.png" width="30" height="30" />
                    <span class="logo-text">GPS Medical Assistance</span>
                </div>
                <div class="fit-box-image">
                    <h1 class="image-text">¡Ingresa a la red y mantén informado a tus familiares en caso de algún accidente!</h1>
                    <img class="img-fluid main-image" src="assets/images/login_image.png">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-7 main-form-box">
            <div class="form-steps-form">
                <div class="d-flex justify-content-end">
                    <span class="already-account">¿Aún no posees cuenta? <a [routerLink]="['', 'register']">Registrarse</a></span>
                </div>
                <div class="mt-5">
                    <h1 class="login-title mb-4">Iniciar sesión</h1>
                    <span class="login-description">Inicia sesión para usar GPS Medical Assistance</span>
                    <hr>
                </div>
                <app-login-form></app-login-form>
            </div>
        </div>
    </div>
</div>
