* {
    font-family: "Roboto", sans-serif;
}

.message-title {
    font-size: 32px;
}

.message-description {
    color: gray;
    font-size: 16px;
}

.success-image {
    max-width: 100px;
}

.created-image {
    max-width: 75px;
}