<div class="row">
    <div class="col-12 col-sm-6 mt-5">
        <div class="welcome-box">
            <img class="tap-icon" src="assets/icons/tap.png">
            <span class="small-welcome-msg">Bienvenido a GPS Medical Assistance</span>
        </div>
        <h1 class="main-title">Sistema de alerta de emergencia clínica para el monitoreo de personas en situación de riesgo</h1>
        <h1 class="main-subtitle">¡Porque cuando ocurre un accidente, saber tu ubicación y la de tus familiares es lo primero!</h1>
        <div class="d-flex justify-content-center mt-4" [routerLink]="['register']">
            <div class="be-part-box">
                <span class="be-part-text">Formar parte</span>
                <div class="be-part-circle">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 mt-5">
        <div class="box-doctor-image">
            <img class="img-fluid doctor-image" src="assets/images/doctor_home.png">
        </div>
    </div>
</div>
