* {
    > :not(i) {
        font-family: "Roboto", sans-serif;
    }
}

.tab-content-style {
    padding: 10px 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.uploader input {
    display: none;
}

.uploader {
    -webkit-align-items: center;
    align-items: center;
    background-color: #efefef;
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    height: 300px;
    -webkit-justify-content: center;
    justify-content: center;
    outline: 3px dashed #ccc;
    outline-offset: 5px;
    position: relative;
    width: 300px;
}

.uploader img,
.uploader .icon {
    pointer-events: none;
}

.uploader,
.uploader .icon {
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.uploader .icon {
    color: #eee;
    color: rgba(0, 0, 0, 0.2);
    font-size: 5em;
}

.uploader img {
    left: 50%;
    opacity: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.uploader img.loaded {
    opacity: 1;
}

.face-icon {
    width: 100px;
}

.face-information {
    text-align: center;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}

.camera-video {
    -webkit-mask-image: url("../../../../../assets/images/circle.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 270px;
}

.camera-off-box {
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    border: 1.5px solid rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.camera-off-box:hover {
    cursor: pointer;
}

.camera-logo {
    height: 50px;
}
