<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 alert-box" *ngFor="let alert of alertsList" (click)="navigateToDetails(alert.id)">
            <div class="d-flex flex-column align-items-center my-3">
                <img *ngIf="alert.alertUsers[0].user" class="img-fluid profile-img" [src]="alert.alertUsers[0].user.imagePath | apiImageBase64" >
                <img *ngIf="alert.alertUsers[0].userAnonymous" class="img-fluid profile-img" src="assets/icons/user.png" >
                <span class="alert-name">{{ getAlertUserName(alert) | titlecase }}</span>
                <span *ngIf="alert.alertUsers[0].user" class="alert-identification">{{ alert.alertUsers[0].user.identification }}</span>
                <span *ngIf="alert.alertUsers[0].userAnonymous && alert.alertUsers[0].userAnonymous.identification" class="alert-identification">{{ alert.alertUsers[0].userAnonymous.identification }}</span>
                <span class="alert-date">{{ alert.creationDate | date: 'dd/MM/yyyy - h:mm a' }}</span>
            </div>
        </div>
        <div *ngIf="alertsList.length <= 0" class="col-12 text-center">
            <img src="assets/icons/search_not_found.png" class="img-fluid not-found-icon mt-5">
            <p class="mt-3">No se encontraron alertas</p>
        </div>
    </div>
</div>
